<!DOCTYPE html>
<html>
<head>
    <title>Chappie</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>

    <link rel="stylesheet" type="text/css" href="main.css"/>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <section class="chappie-app">
        <header class="header">
            <h1>Chappie</h1>
        </header>
        <section class="new-conversation block" @keyup.enter="newConversation">
            <label for="user-input">User Name</label>
            <input
                    id="user-input"
                    class="user-input"
                    autofocus
                    autocomplete="off"
                    placeholder="User Name"
                    v-model="user"
                    @change="userChanged"
            />
            <label for="conversation-input">Conversation</label>
            <input
                    id="conversation-input"
                    class="conversation-input"
                    autofocus
                    autocomplete="off"
                    placeholder="Conversation"
                    v-model="conversation"
                    size="3"
            />
            <select v-model="conversation">
                <option v-for="conversation in userConversations">{{ conversation.id }}</option>
            </select>
            <a class="button" v-on:click="newConversation">+</a>
        </section>
        <section class="conversations" v-show="conversations.length">
            <ul class="plain-list conversation-list">
                <li
                        v-for="conversation in conversations"
                        class="conversation"
                        :key="conversation.id"
                >
                    <h2>{{ conversation.user }}@{{ conversation.id }}</h2>
                    <div class="top-right" style="margin-top:8px">
                        <a class="button" v-on:click="collapseConversation(conversation)">_</a>
                        <a class="button" v-on:click="closeConversation(conversation)">X</a>
                    </div>
                    <section :class="{ hidden: conversation.collapsed }">
                        <ul v-bind:id="'message-list-'+conversation.id"
                            class="plain-list message-list">
                            <li
                                    v-for="message in conversation.messages"
                                    class="message"
                                    :key="message.id"
                                    :class="{ left: message.source==conversation.user, right: message.source!=conversation.user }"
                            >
                                <p v-if="message.type=='text'">{{ message.text }}</p>
                                <img v-else-if="isImage(message)" v-bind:src="blobUrl(message)"/>
                                <a class="button" v-else v-bind:href="contentUrl(message)" target="_blank"><i class="gg-attachment"></i></a>
                                <cite>{{ message.source }}</cite>
                            </li>
                        </ul>
                        <input
                                class="new-message"
                                type="text"
                                placeholder="Say something ..."
                                v-model="conversation.message"
                                @keyup.enter="newMessage(conversation)"
                        />
                        <label class="attach-document button">
                            <i class="gg-attachment"></i>
                            <input v-bind:id="'document-upload-file-input-'+conversation.id"
                                   type="file"
                                   @change="uploadDocument(conversation)"/>
                        </label>
                    </section>
                </li>
            </ul>
        </section>
    </section>

    <script src="index.js"></script>
</body>
