body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    width: 100%;
    font-size: 52px;
    font-weight: 100;
    text-align: center;
    color: #009688;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    font-family: serif;
}

section {
    display: block;
    overflow: hidden;
}

.chappie-app > section {
    width: 50%;
    margin: 0 auto;
}

.button {
    color: #fff;
    background-color: #009688;
    border: 2px solid #009688;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    display: inline-block;
}
.button:hover {
    border-color: #007766;
}
.grey-button {
    background-color: #666666;
    border-color: #666666;
}

.top-right {
    position: absolute;
    top: 0px;
    right: 0px;
}

.hidden {
    display: none;
}

.plain-list {
    padding: 0px;
}

.plain-list > li {
    list-style: none;
}

.conversation-list h2 {
    padding: 8px;
    color: #009688;
}

.conversation-list > li {
    background-color: #999999;
}

.conversation-list .conversation {
    position: relative;
}

input.new-message {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    background: none;
    color: white;
}

.message-list {
    max-height: 40rem;
    overflow-y: auto;
}

.message-list > li.left {
    text-align: left;
}

.message-list > li.right {
    text-align: right;
}

.message {
    filter: drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.1)) drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.15));
    margin: 16px;
    margin-bottom: 45px;
    padding: 20px 8px;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
}
.message p {
    margin: 0px;
    word-wrap: break-word;
}
.message.left {
    background: #009688;
}
.message.right {
    background: #8CA8D8;
}
.message::before {
    border: 12.5px solid transparent;
    border-top: 12.5px solid #8CA8D8;
    border-bottom: 0;
    height: 0;
    width: 0;
    border-top-width: 25px;
    content: '';
    display: block;
    position: absolute;
    bottom: -14px;
    transform-origin: center;
}
.message.left::before {
    left: 0rem;
    border-color: #009688;
    transform: rotate(-90deg) skew(25deg) translateY(16.6666666667px);
}
.message.right::before {
    right: 1rem;
    border-color: #8CA8D8;
    transform: rotate(90deg) skew(-25deg) translateY(16.6666666667px);
}
.message cite {
    position: absolute;
    bottom: -2rem;
    left: 2.5rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: white;
}
.message.left cite {
    left: 0rem;
}
.message.right cite {
    right: 0rem;
}

.attach-document {
    position:absolute;
    right:0px;
    bottom:0px;
    color:white;
}

.attach-document input[type="file"] {
    display: none;
}

.gg-attachment {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid;
    border-top: 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    transform: scale(var(--ggs,1));
    margin-top: 11px
}
.gg-attachment::after,
.gg-attachment::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    border: 2px solid
}
.gg-attachment::after {
    border-bottom: 0;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    right: -2px;
    width: 10px;
    height: 14px;
    bottom: 8px
}
.gg-attachment::before {
    width: 6px;
    height: 12px;
    border-top: 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    left: 2px;
    bottom: 4px
}

/*break*/

body,html{
    height: 100%;
    margin: 0;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

.chat{
    margin-top: auto;
    margin-bottom: auto;
}
.card{
    height: 500px;
    border-radius: 15px !important;
    background-color: rgba(0,0,0,0.4) !important;
}
.contacts_body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}
.msg_card_body{
    overflow-y: auto;
}
.card-header{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}
.card-footer{
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}
.container{
    align-content: center;
}
.search{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
}
.search:focus{
    box-shadow:none !important;
    outline:0px !important;
}
.type_msg{
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
}
.type_msg:focus{
    box-shadow:none !important;
    outline:0px !important;
}
.attach_btn{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.send_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.search_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.contacts{
    list-style: none;
    padding: 0;
}
.contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}
.active{
    background-color: rgba(0,0,0,0.3);
}
.user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;

}
.user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;

}
.img_cont{
    position: relative;
    height: 70px;
    width: 70px;
}
.img_cont_msg{
    height: 40px;
    width: 40px;
}
.online_icon{
    position: absolute;
    height: 15px;
    width:15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border:1.5px solid white;
}
.offline{
    background-color: #c23616 !important;
}
.user_info{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}
.user_info span{
    font-size: 20px;
    color: white;
}
.user_info p{
    font-size: 10px;
    color: rgba(255,255,255,0.6);
}
.video_cam{
    margin-left: 50px;
    margin-top: 5px;
}
.video_cam span{
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}
.msg_cotainer{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
}
.msg_cotainer_send{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
}
.msg_time{
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}
.msg_time_send{
    position: absolute;
    right:0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}
.msg_head{
    position: relative;
}
#action_menu_btn{
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
.action_menu{
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}
.action_menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.action_menu ul li{
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}
.action_menu ul li i{
    padding-right: 10px;

}
.action_menu ul li:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
}
@media(max-width: 576px){
    .contacts_card{
        margin-bottom: 15px !important;
    }
}